
/* ###### RESET ###### */
:root, html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
   
}


/* ###### BODY ###### */

body {
    
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0px;
    background-color: white;
    color: lightslategrey;
}



/* ###### CENTRERAR TILL MITTEN ###### */

.centrera {
    width: 960px;
    margin: 0 auto;
}


/* ###### HEADER INKL. NAV ###### */

header {
    position: fixed;
    margin: 0;
    top: 0;
}

img {
    margin: 0;
    
}

nav {
    width: 960px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 250px;
    background-color: #eae7db;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    text-decoration: none;
    margin-top: 0;
    margin-right: 25px;
    font-size: 16px;
    color: #716b64;
}

a:hover {
    color: #57bb96;
}

a[href$=".pdf"] {
    
}

h2 + p {
    font-weight: 700;
    color: #272525;
}



/* ######## TRE KOLUMNER MED ARTICLES ######## */

h2 {
    font-family: vinegarregular,'Times New Roman', Times, serif;
    color: #259283;
}

.kolumner {
    height: 700px;
    width: 300px;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    margin-top: 310px;
    margin-bottom: 40px;
    background-color: #f4f3ef;
    padding: 25px;
}



.hoger_marginal {
    margin-right: 30px;
}


/* ####### FOOTER ####### */

div > h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #259283;
}


h3 ~ p {
    font-style: italic;
}

#footer-innehall {
    clear: both;
    height: 170px;
    width: 960px;
    background-color: #d3dbd0;
    border-radius: 10px;
}

.footer-text {
    height: 150px;
    width: 300px;
    float: left;
    box-sizing: border-box;
    padding: 0 15px ;
}

#pdf {
    margin-top: 30px;
}



/* ###### CSS SOM HÖR TILL priser.html ###### */

/** { border: dotted 1px black}*/

.flexbox {
    height: auto;
    font-weight: 200;
    margin-top: 330px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}


#lista {
    height: 320px;
    width: 400px;
    font-size: 22px;
    padding: 50px 15px 0 15px;
    border: 2px solid #eae7db;
    border-radius: 15px;
    margin: 0 0 0 40px;
    box-sizing: border-box;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-left: 80px;
}

 li:nth-child(odd) {
     background-color: #eae7db;
     
}

#leverans {
    height: 320px;
    width: 200px;
    padding: 0 15px;
    background-color:#f4f3ef; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: 120px;
}

#leverans h2 + p  {
    font-weight: 200;
    color: lightslategrey;   
}    
