@media print  {

    img, nav {
       display: none;
   } 

   body {
       font-family: "vinegarregular, 'Times New Roman', Times, serif";
   }

   body, a {
       color: black;
   }

   div > section > article > h2, div > footer > div > h3 {
       color: black;
   }

   body > div > section > .kolumner {
       display: block;
       height: auto;
       width: auto;
       margin-top: 0px;
       margin-bottom: 0px;
       font-size: 14px;
   }

   div > section > article:first-child {
       margin-top: 20px;
   }

   footer > .footer-text {
       text-align: center;
       margin-top: 20px;
   }

   

}