/* ##### MEDIA QUERIES FÖR SKÄRM < 960px ##### */

@media screen and (max-width: 960px) {

.centrera {
    width: 700px;
}

img {
    width: 700px;
}

nav {
    width: 700px;
    top: 182.09px;
   
}

div section .kolumner {
    height: 1061.81px;   
    width: 213.33px;
    margin-top: 235px;
    padding-top: 10px;
    }

#footer-innehall {
    width: 700px;
    }

.footer-text {
    height: 150px;
    width: 213.33px;    
    }
}


/* ##### MEDIA QUERIES FÖR SKÄRM < 700px ##### */

@media screen and (max-width: 700px) {

    .centrera {
        width: 544px;
    }

    img {
    width: 544px;
    }

    nav {
    width: 544px;
    top: 141.52px;
   }

   div section .kolumner {
    display: block;
    clear: both;   
    height: 450px;   
    width: 544px;
    margin-top: 0px;
    padding-top: 10px;
    }

    div section .kolumner:first-child {
    margin-top: 235px; 
    }

    #footer-innehall {
    width: 544px;
    }

.footer-text {
    height: 150px;
    width: 29%;    
    }

}